<!DOCTYPE html>
<html>
<head>
    <title>Library Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Library Management System</h1>
    <nav class="mb-4">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'author_list' %}">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book_list' %}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'borrowrecord_list' %}">Borrow Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'export_to_excel' %}">Export to Excel</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
