{% extends 'library_app/base.html' %}

{% block content %}
<h2>Books</h2>
<a href="{% url 'book_add' %}" class="btn btn-primary mb-3">Add Book</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Published Date</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    {% for book in object_list %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.genre }}</td>
            <td>{{ book.published_date }}</td>
            <td>{{ book.author.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock %}
