{% extends 'library_app/base.html' %}

{% block content %}
<h2>Borrow Records</h2>
<a href="{% url 'borrowrecord_add' %}" class="btn btn-primary mb-3">Add Borrow Record</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Book</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
    </tr>
    </thead>
    <tbody>
    {% for borrowrecord in object_list %}
        <tr>
            <td>{{ borrowrecord.id }}</td>
            <td>{{ borrowrecord.user_name }}</td>
            <td>{{ borrowrecord.book.title }}</td>
            <td>{{ borrowrecord.borrow_date }}</td>
            <td>{{ borrowrecord.return_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        {% endif %}
    </span>
</div>
{% endblock %}
